.shapes {
    background-image: url(united-squares-negative.png);
}


#name {
    background-color: #4aaaa5;
    padding: 40px 20px;
    text-align:center;
    height: 100%;
}

header {
    background-color: #ffffff;
    font-family: "Georgia", "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    border-bottom: 2px solid #dddddd;
    color: #ffffff;
}

.center-con {
    border: 2px solid #dddddd;
    line-height: 1.5;
    background-color: #ffffff;
    box-shadow: 5px 10px #888888;
    margin: 20px 10px 0px 10px;
    
}

#profile-photo {
    float: left;
    width: 10em;
    padding-top: 10px;
    padding-right: 10px;
}

.con-top {
    font-family: "Georgia", "Times New Roman", Times, serif;
    color: #4aaaa5;
    border-bottom: 2px solid #dddddd;
    margin-right: 20px;
    padding-top: 20px;
}

.nav-styles {
    background-color: #ffffff;
    float: right;
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    color: #777777;
}

.text-color {
    color:  #777777;
}

a:hover {
    color: #4aaaa5;
}

.footer {
    border-top: 8px solid #4aaaa5;
    height: 80px;
    width: 100%;
    background-color: #666666;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1;
}

.tab {
    text-indent: 40px;
}

form {
    color: #777777;
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    border-color: #777777;
}

button[type=submit] {
    background-color: #4aaaa5;
    color: #ffffff;
    border: none;
    text-align: center;
    padding: 10px 15px 10px 15px;
    margin-bottom: 10px;
    cursor: pointer;
}

button[type=submit]:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.photo-banner {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: "Georgia", "Times New Roman", Times, serif;
    text-align: center;
}

.photo-banner:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}
